/* Costum props */
:root {
  --midnight-green: #014E56;
  --light-color: #F67E7E;
  --white: #fff;
  --rapture-blue: #79C8C7;
  --police-blue: #2C6269;
  --deep-jungle-green: #004047;
  --sacramento-state-green: #012F34;
  --dark-green: #002529;
}



/* GLOBAL */
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  height: 100%;
}
*,
*::before
*::after {
  box-sizing: inherit;
}

body {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  font-size: 15px;
  line-height: 1.5;
  font-family: "Livvic", "Arial", "sans-serif";
  background-color: var(--midnight-green);
  color: #fff;
}
img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* CONTAINER */
.container {
  max-width: 1150px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

/* MAIN CONTENT */
.main-content {
  flex-grow: 1;
}

/* site header */
.site-header {
  margin-top: 73px;
  margin-bottom: 129px;
}
.site-header__container {
  display: flex;
  align-items: center;
}
.site-logo__link {
  padding-right: 80px;
}
.site-logo__link:hover {
  opacity: 0.8;
}
.site-logo__link:active {
  opacity: 0.6;
}
.site-logo__img {
  display: block;
  align-items: center;
  width: 160px;
  height: 40px;
}
.sitenav {
  margin-right: auto;
}
.sitenav__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}
.sitenav__item:not(:last-child) {
  margin-right: 40px;
}
.sitenav__link {
  display: block;
  font-size: 18px;
  line-height: 28px;
  color: var(--white);
  text-decoration: none;
}

.sitenav__link:hover {
  color: var(--light-color);
}
.primary-button {
  display: block;
  color: var(--white);
  background-color: transparent;
  border: 2px solid var(--white);
  border-radius: 15px;
  padding: 11px 32px;
  text-decoration: none;
  font-size: 18px;
  line-height: 28px;
}
.primary-button:hover {
  background-color: #fff;
  border: 2px sold transparent;
  color: var(--midnight-green);
}